html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
#root{
  display: grid;
  grid-template-rows: 1fr 15fr;
  margin: 0;
  height: 100vh;
  background-color: #454444;
}
#top-component{
  grid-row: 1;
  display: flex;
  justify-items: flex-end;
}
#main{
  grid-row: 2;
  display: flex;


}
#main-component{
  padding: 30px;
  background-color: #2f2e2e;
  height: 100%;
  width: 100%;

}
