html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
#root{
  display: grid;
  grid-template-rows: 1fr 12fr;
  margin: 0;
  height: 100vh;
  background-color: #454444;
}
#top{
  width: 100%;
  height: 40px;
  -webkit-app-region: drag
}
#main{
  grid-row: 2;
  display: flex;


}
#main-component{
  padding: 30px;
  background-color: #2f2e2e;
  height: 100%;
  width: 100%;

}
