
.modal{
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: white;
  height: 200px;
  width: 400px;
}

.frame{
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
}

.dcp{
  height: 70%;
  display: flex;
  justify-content: center;
}

.dcp-txt{
  font-size: 2em;
}

.dcp-btm{
  display: flex;
  justify-content: flex-end;
  height: 20%;
}

.btn{
  width: 80px;
  height: 40px;
  font-size: 0.8em;
  color: #ffffff;
  margin: 0 10px;
  border-radius: 7px;
}
.btn:hover{
  cursor: grab;
}

.ok{
  border-color: #db56bc;
  background-color: #e91a1a;
}
.ok:hover{
  background-color: #e985d1;
}
.cancel{
   background-color: #6495ed;
    border-color: blue;
}
.cancel:hover{
  background-color: #93b6f6;
}
